<section class="d-flex flex-column justify-content-start w-100 h-100" >
    <div class="bg-primary w-100 p-3" [style.height.px]="'60'">
      <div class="d-flex flex-row justify-content-between">
        <div>
            <h4 class="text-white">{{title}}</h4>
        </div>
        <div>
            <strong><i class="material-icons close-btn text-white p-1 pointer" (click)="close()" >close</i></strong>
        </div>
      </div>
    </div>
    <div class="px-5 py-3 mb-auto">
        <p *ngIf="message" ><strong>{{message}}</strong></p>
    </div>

    <div>
        <div class="d-flex flex-row justify-content-center py-3">
          <div>
              <button class="btn btn-primary" (click)="close()">OK</button>
          </div>
        </div>
    </div>
  </section>