<div class="">
    <section class="shadow-lg m-3 jumbotron text-center">
        <div class="d-flex flex-row justify-content-between align-items-start w-100 ">
            <div class="w-50 position-relative animated zoomIn" [style.height.px]="'400'">
                <img class="p-3" style="width:100%; height:120%;" src="../../assets/images/bc.jpg">
            </div>
            <div class="w-50">
                <div class="d-flex flex-column justify-content-start">
                    <div class="d-flex flex-row justify-content-start align-items-start">
                    </div>
                    <div>
                        <div class="d-flex flex-row justify-content-start align-items-start jumbotron text-center">
                            <div class="animated lightSpeedIn">
                                <h1 class="">Welcome to Shedon's Hot Wheels Car Rents</h1>
                                <p style="text-align:justify; padding: 5%">CHEAP CAR RENTAL IN your desired destination One of our top priorities is to adjust each
                                    package we offer to our customer’s exact needs. We offer a variety of options that can
                                    enhance your experience, always according to your necessities, and help you get the best
                                    out of your holidays or your business trip. Our constant market research ensures the
                                    finest FINAL prices for your rental car in your desired destination. Since option prices
                                    and fees are included, with EconomyCarRentals there are never surprises at the desk!
                                    Rental Cars in your desired destination After Pattern Based Writing: Quick Easy Essay,
                                    these questions mean a great deal.
                                </p>
                            </div>

                        </div>
                    </div>

                    <br/>
                </div>
            </div>
        </div>
    </section>
</div>