<section class="signup shadow-lg">
  <!-- <pre dir="ltr">{{localUser.Birthdate|json}}</pre> -->
  <h2 *ngIf="localUser.UserID">Edit User</h2>
  <h2 *ngIf="!localUser.UserID">New User</h2>
  <form #signupForm role="form" class="form-group" ngForm="signupForm" autocomplete="off">
    <div class="d-flex flex-column justify-content-center w-50">
      <div class="py-4">
        <img *ngIf="localUser.UserPic!=undefiened" src="{{localenv}}/images/{{localUser.UserPic}}" style=" border-radius: 50%; width:200px;height:200px;display:block;"
        />
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">First Name:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">arrow_right</i>
            </span>
          </div>
          <input type="text" formControlName="FirstName" class="form-control" autocomplete="FirstName" placeholder="" [(ngModel)]="localUser.FirstName"
            name="FirstName">
          <div *ngIf="userSignForm.controls.FirstName.errors!=null&&userSignForm.controls.FirstName.errors.minlength">
            First Name must be at least 2 characters long.
          </div>
        </div>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Last Name:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">arrow_right</i>
            </span>
          </div>
          <input type="text" formControlName="LastName" class="form-control" autocomplete="LastName" placeholder="" [(ngModel)]="localUser.LastName"
            name="LastName">
          <div *ngIf="userSignForm.controls.LastName.errors!=null&&userSignForm.controls.LastName.errors.minlength">
            Last Name must be at least 2 characters long.
          </div>
        </div>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">User Name:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">account_circle</i>
            </span>
          </div>
          <input type="text" formControlName="UserName" class="form-control" autocomplete="UserName" placeholder="" [(ngModel)]="localUser.UserName"
            name="UserName">
          <div *ngIf="userSignForm.controls.UserName.errors!=null&&userSignForm.controls.UserName.errors.minlength">
            User Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Password:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">lock</i>
            </span>
          </div>
          <input type="text" formControlName="Password" class="form-control" autocomplete="Password" placeholder="6-10 characters"
            [(ngModel)]="localUser.Password" name="Password">
          <div *ngIf="userSignForm.controls.Password.errors!=null&&(userSignForm.controls.Password.errors.minlength||userSignForm.controls.Password.errors.maxlength)">
            Password must be at 6-10 characters length.
          </div>
        </div>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Social ID number:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">account_circle</i>
            </span>
          </div>
          <input type="text" formControlName="ID" class="form-control" autocomplete="ID" placeholder="9 digits" [(ngModel)]="localUser.ID"
            name="ID">
          <div *ngIf="userSignForm.controls.ID.errors!=null&&(userSignForm.controls.ID.errors.pattern||userSignForm.controls.ID.errors.maxlength)">
            Please enter 9 digits only ID number.
          </div>
        </div>
      </div>

      <div class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Birthdate:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">calendar_today</i>
            </span>
          </div>
          <input type="date" class="form-control " placeholder="" [ngModel]="localUser.Birthdate | date:'yyyy-MM-dd'"
            (ngModelChange)="localUser.Birthdate = $event" name="Birthdate">
        </div>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Gender:</label>
        <label class="radio-inline">
          <input type="radio" id="male" value="true" name="isMale" [(ngModel)]="localUser.isMale" formControlName="isMale" checked>Male
        </label>
        <label class="radio-inline">
          <input type="radio" id="female" value="false" formControlName="isMale" [(ngModel)]="localUser.isMale" name="isMale">Female
        </label>
      </div>

      <div [formGroup]="userSignForm" class="d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Email:</label>
        <div class="input-group w-100" [style.min-width]="'100%'">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <i class="material-icons text-secondary">email</i>
            </span>
          </div>
          <input type="email" formControlName="Email" class="form-control" autocomplete="Email" placeholder="" [(ngModel)]="localUser.Email"
            name="Email">
          <div *ngIf="userSignForm.controls.Email.errors!=null&&userSignForm.controls.Email.errors.pattern">
            Please enter a vlaid email
          </div>
        </div>
      </div>

      <div class=" d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
        <label class="w-100" [style.min-width]="'50%'">Picture:</label>
        <div>
          <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          <img *ngIf="imageUrl" [src]="imageUrl" style="width:250px;height:200px;display:block;">
        </div>
      </div>

      <div *ngIf="localUsersManager.singleUser">
        <div *ngIf="localUsersManager.singleUser.UserPermission==2">
          <div class=" d-inline-flex flex-row align-items-center" [style.min-height.px]="'50'">
            <label class="w-100" [style.min-width]="'50%'">Permission:</label>
            <div class="input-group w-100" [style.min-width]="'100%'">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                  <i class="material-icons text-secondary">lock</i>
                </span>
              </div>
              <input type="number" class="form-control" autocomplete="UserPermission" placeholder="" [(ngModel)]="localUser.UserPermission"
                name="UserPermission">
            </div>
          </div>
        </div>
      </div>

      <div class="py-3">
        <button class="btn btn-primary" (click)="saveChanges()">Submit</button>
      </div>
      <div class="well well-lg" *ngIf="actionMsg">{{actionMsg}}</div>
    </div>
  </form>
</section>